.container {
  
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 100px;
  }
  
  .container::before {
    content: '';
    width: 69%;
    height: 6px;
    background-color: #ffffff; 
    position: absolute;
    top: 0;
    border-radius: 4px;
  }
  
  .container::after {
    content: '';
    width: 69%;
    height: 6px;
    background-color: #f7f4f4; 
    position: absolute;
    bottom: 0;
    border-radius: 4px;
  }
  
  .topBorder {
    margin: 10px 0;
  }
  
  .text {
    margin: 52px 0;
    color:#f7f4f4;
  }

  .text p {
    font-size: 30px;
  }
  
  .vrame {
 
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 45px; 
    overflow: hidden;
    
  }
  

  .bottomBorder {
    margin: 48px 0;
  }
  